
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Mono&display=swap');


html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.bg-purple{
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;

}

.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 200px;
    padding: 10px 15px;
    border: 1px solid #1B1A17;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    transition: 0.5s;
}

.btn-go-home:hover{
    background-color: #1B1A17;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.central-body{
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object_rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
}

.object_earth{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
}

.object_moon{
    position: absolute;
    top: 12%;
    left: 25%;

}


.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.image-404{
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.stars{
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}


@media only screen and (max-width: 600px){

    .brand-logo img{
        width: 120px;
    }

    .box_astronaut{
        top: 70%;
    }

    .central-body{
        padding-top: 25%;
    }
}